<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="geek.owl.com.ua.KNUSchedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name="com.knu.krasn.knuscheduler.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">


        <service
            android:name="com.knu.krasn.knuscheduler.Presenter.Utils.ServiceUtils.NotificationService"
            android:exported="false" />
    </application>

</manifest>